<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Welcome to Cover</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <style>
        body        { padding-top:50px; }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <div class="jumbotron text-center">
          <img class="mb-4" src="/images/placeholder-logo.png" alt="" width="72" height="72">
          <h1><span class="fa fa-lock"></span> Node Authentication</h1>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
</body>
</html>
